# Pytorch related stuff
torch==2.5.1
torchvision>=0.18.0
torchaudio>=2.3.0
torchinfo==1.8.0
torchmetrics==1.3.2
lightning>=2.0.0

# Huggingface Diffusers
diffusers==0.27.2
transformers==4.37.2
accelerate
controlnet-aux==0.0.7

# Online Learning Environment
gymnasium==0.29.1

# Open CV for image editing
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84

# Server and websockets for communication with simulator
# Do not update, recent versions do not work
# Probably need refactoring
Flask==2.0.0
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.5.1
Werkzeug==2.0.3
eventlet==0.35.1

# Visualization
pygame==2.5.2

# Loggin and data management
pandas>=2.0.0

# Video generation
imageio==2.33.1
imageio[pyav]==2.33.1
imageio[ffmpeg]==2.33.1

# Data analysis
tsnecuda==3.0.1
matplotlib
seaborn
scikit-learn>=1.2.0

# Image quality assessment
pyiqa==0.1.10

# Udacity Driving Simulator
udacity-gym @ git+https://github.com/dragonbanana/udacity-gym.git

# Carla Driving Simulator
carla==0.9.15
future

# Shift
# -e git+https://github.com/SysCV/shift-dev.git#egg=shift-dev
# appdirs